@import "tailwindcss";

:root {
  --background: #e1f1ce;
  --foreground: #171717;
  --cream: #f8f1e6;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-cream: var(--cream);
  --font-log-title: var(--font-bebasneue);
  --font-log-body: var(--font-ptserif);
  --font-main-title: var(--font-sekuya);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-log-title), var(--font-log-body), var(--font-main-title);
}
